<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/index.css">
    <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
    <!--    <script type="text/javascript" src="./js/index.js"></script>-->
    <title>Small Tadpole</title>
</head>
<body>
<div id="BodyBox" class="BodyBoxClass container">
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light row justify-content-between">
                <a class="navbar-brand col-5" href="#">A Small Tadpole</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse col-6" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'program' %}">Program</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ability' %}">Ability</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  active" href="{% url 'article' %}">Article</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'life' %}">Life</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Annalistic</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">About</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="jumbotron BigSrceenClass">
            <h1 class="display-4">Article！</h1>
            <p class="lead">钢是在烈火里燃烧、高度冷却中炼成的，因此它很坚固。我们这一代人也是在斗争中和艰苦考验中锻炼出来的，并且学会了在生活中从不灰心丧气。</p>
        </div>

        <!--文章-->
        <div class="row col-md-12">
            {% for Article in Articles %}
                <div class="col-md-12">
                    <div class="card text-center">
                        <div class="card-header">
                            <h1>{{ Article.ArticleID }}</h1>
                        </div>
                        {% for ArticleTmp in Article.Articles %}
                            <div class="card-body">
                                <h5 class="card-title">{{ ArticleTmp.ArticleName }}</h5>
                                <p class="card-text">{{ ArticleTmp.ArticleBrief }}</p>
                                <a href="{% url 'articleDetil' ArticleTmp.id %}" class="btn btn-primary">Go detail!</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

            {#            <div class="col-md-12">#}
            {#                <div class="card text-center">#}
            {#                    <div class="card-header">#}
            {#                        <h1>Featured</h1>#}
            {#                    </div>#}
            {#                    <div class="card-body">#}
            {#                        <h5 class="card-title">Special title treatment</h5>#}
            {#                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
            {#                        <a href="#" class="btn btn-primary">Go detail!</a>#}
            {#                    </div>#}
            {#                    <div class="card-body">#}
            {#                        <h5 class="card-title">Special title treatment</h5>#}
            {#                        <p class="card-text">With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional contentWith supporting text below as a natural lead-in to additional contentWith supporting text below as a natural lead-in to additional content</p>#}
            {#                        <a href="#" class="btn btn-primary">Go detail!</a>#}
            {#                    </div>#}
            {#                    <div class="card-body">#}
            {#                        <h5 class="card-title">Special title treatment</h5>#}
            {#                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
            {#                        <a href="#" class="btn btn-primary">Go detail!</a>#}
            {#                    </div>#}
            {#                    <div class="card-body">#}
            {#                        <h5 class="card-title">Special title treatment</h5>#}
            {#                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
            {#                        <a href="#" class="btn btn-primary">Go detail!</a>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
        </div>


        <!-- 声明信息 -->
        <div class="DefineInfo">
            <div class="foot_link">
                <a href="#">关于我们</a>
                <span>|</span>
                <a href="#">联系我们</a>
                <span>|</span>
                <a href="#">袅袅人才</a>
                <span>|</span>
                <a href="#">友情链接</a>
            </div>
            <p>CopyRight © &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2020 小蝌蚪的个人网页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; All Rights
                Reserved</p>
            <p>邮箱：xiaokedou_2020@163.com 京ICP备20020825号-1</p>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
</body>
</html>