<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/index.css">
    <script type="text/javascript" src="/static/js/echarts.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/js/echartsEx.js"></script>
    <!--    <script type="text/javascript" src="./js/index.js"></script>-->

    <title>Small Tadpole</title>
</head>
<body>
<div id="BodyBox" class="BodyBoxClass container">
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light row justify-content-between">
                <a class="navbar-brand col-5" href="{% url 'index' %}">A Small Tadpole</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse col-6" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'program' %}">Program</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ability' %}">Ability</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'article' %}">Article</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'life' %}">Life</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Annalistic</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">About</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="jumbotron BigSrceenClass">
            <h1 class="display-4">WELCOME！</h1>
            <p class="lead">钢是在烈火里燃烧、高度冷却中炼成的，因此它很坚固。我们这一代人也是在斗争中和艰苦考验中锻炼出来的，并且学会了在生活中从不灰心丧气。</p>
            <hr class="my-4">
            <p>Don't be afraid to shoot a single horse. What about being alone and brave? You can cry all the way, but
                you can't be angry. You have to go through the days when nobody cares about it to welcome applause and
                flowers.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                Know me!
            </button>
        </div>

        <!--大神项目-->
        <div class="GodProgram col-md-12">
            <div class="ProgramNavClass">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'program' %}"><h4>Program</h4></a>
                    </li>
                </ul>
            </div>
            <div class="row justify-content-between">
                {% for BigProgram in BigProgramtemp %}
                    <div class="col-md-6 cardProgramClass">
                        <a href="{% url 'programUnqul' BigProgram.id %}"
                           class="card mb-3 card1Class text-decoration-none " style="">
                            <div class="row no-gutters">
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ BigProgram.ProgramName }}</h5>
                                        <p class="card-text">{{ BigProgram.ProgramBrief }}</p>
                                        <p class="card-text"><small class="text-muted">Last
                                            updated {{ BigProgram.update_time }}</small></p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <img src="/media/{{ BigProgram.ProgramIcon }}" class="card-img" alt="这是一个项目图标">
                                </div>
                            </div>
                        </a>
                    </div>
                {% empty %} <p>无相关内容！</p>
                {% endfor %}
                {#                <div class="col-md-6 cardProgramClass">#}
                {#                    <a href="#" class="card mb-3 card1Class" style="">#}
                {#                        <div class="row no-gutters">#}
                {#                            <div class="col-md-8">#}
                {#                                <div class="card-body">#}
                {#                                    <h5 class="card-title">Card title</h5>#}
                {#                                    <p class="card-text">This is a wider card with supporting text below as a natural#}
                {#                                        lead-in to#}
                {#                                        additional content. This content is a little bit longer.</p>#}
                {#                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                            <div class="col-md-4">#}
                {#                                <img src="/static/image/1.jpg" class="card-img" alt="...">#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </a>#}
                {#                </div>#}


            </div>
        </div>

        <!--优秀文章-->
        <div class="GoodPClass col-md-12">
            <div class="ArticleNavClass">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'article' %}"><h4>Article</h4></a>
                    </li>
                </ul>
            </div>
            {% for Article in ArticleModelsTmp %}
                <div class="ArticleClass">
                    <a href="{% url 'articleDetil' Article.id %}" class="card">
                        <h5 class="card-header">{{ Article.ArticleName }}</h5>
                        <div class="card-body">
                            <p class="card-text font-weight-light">
                                {{ Article.ArticleBrief }}
                            </p>
                        </div>
                    </a>
                </div>
            {% empty %} <p>文章内容为空</p>
            {% endfor %}

            {#            <div class="ArticleClass">#}
            {#                <a href="#" class="card">#}
            {#                    <h5 class="card-header">今天天气很美好</h5>#}
            {#                    <div class="card-body">#}
            {#                        <p class="card-text font-weight-light"> 孤田#}
            {#                            第一次给舅公上坟，走过那丘长长的弯弯的阴冷的荒田，我免不了忆起当年劳动的场景。栽秧薅秧打谷，集体中醒目的与不露声色的勤快、躲懒，开玩笑，一幕幕从眼前走过。#}
            {#                            眼下比较平整的田还没有犁开，杂草一团一团的，涂抹着初春的痕迹。</p>#}
            {#                    </div>#}
            {#                </a>#}
            {#            </div>#}


        </div>

        <!--技能-->
        <div class="skill col-md-12">
            <div class="ArticleNavClass">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ability' %}"><h4>Ability</h4></a>
                    </li>
                </ul>
            </div>

            <div id="main" class="col-md-12" style="height: 500px"></div>
        </div>

        <!--生活-->
        <div class="live col-md-12">
            <div class="ArticleNavClass">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'life' %}"><h4>Life</h4></a>
                    </li>
                </ul>
            </div>

            <div class="row">
                {% for Life in LiftModelsTmp %}
                <a class="col-3 livePhotoClass" href="{% url 'life' %}">
                    <div class="card lifeClass" style="">
                        <img src="/media/{{ Life.LiftIcon }}" class="card-img-top" alt="{{ Life.LiftName }}">
                        <div class="card-body">
                            <p class="card-text">{{ Life.LiftName }}</p>
                        </div>
                    </div>

                </a>
                {% empty %}<p>无生活相关内容</p>
                {% endfor %}

{#                <a class="col-3" href="#">#}
{#                    <div class="card lifeClass" style="">#}
{#                        <img src="/static/image/1.jpg" class="card-img-top" alt="...">#}
{#                        <div class="card-body">#}
{#                            <p class="card-text">这个是美好照片</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </a>#}
            </div>
        </div>
    </div>
</div>
</div>
</div>

<!--模态框-->

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">了解我！！</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>2020年全年计划:<br>
                    1、熟练掌握人工智能、并成功应用，视觉和NLP等；<br>
                    2、了解管道的整个流程，依据一个项目，并能自己编写相关代码；<br>
                    3、熟练应用ROS机器人系统，相关代码并在相关板子上有应用；<br>
                    --------------------------------------------<br>
                    学习、强大、人外有人、天外有天！<br><br><br><br>
                    2020年我们会更好！你好，今天。
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- 声明信息 -->
<div class="DefineInfo">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">袅袅人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2020 小蝌蚪的个人网页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; All Rights Reserved</p>
    <p>邮箱：xiaokedou_2020@163.com 京ICP备20020825号-1</p>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>